<% if @listing.errors.any? %>
    <div class="error-explanations">
        <h2><%=pluralize(@listing.errors.count, "Error") %> prevented the <%= @listing.class.to_s %> from being created:</h2>
        <ul class="error-details">
            <% @listing.errors.full_messages.each do |sentence| %>
                <li class="error-message"><%= sentence %></li>
            <% end %>
        </ul>
    </div>
<% end %>