<div class="ml-6 error-explanations text-red-500">
    <h2><%=pluralize(object.errors.count, "error") %> prevented the <%= object.class.to_s %> from being created:</h2>
    <ul class="ml-6 error-details text-red-500 ">
        <% object.errors.full_messages.each do |sentence| %>
            <li class="error-message"><%= sentence %></li>
        <% end %>
    </ul>
</div>