<div class="show-listing table-cell"><h3><%= link_to listing.title, listing %></h3></div>
<div class="show-listing table-cell"><p><strong>Category:</strong> <%= listing.category %></p></div>
<div class="show-listing table-cell"><p><strong>Cost per day:</strong> <%= listing.price %></p></div>