<div class="show-listing table-cell"><h3><%= link_to listing.title, listing %></h3></div>
<div class="show-listing table-cell"><p><%= listing.category %></p></div>
<div class="show-listing table-cell"><p><%= listing.price %></p></div>