<%= conditional_errors(@listing) %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="max-w-8xl w-full px-4 py-5 sm:px-6">
        <h3 class="mt-6 mb-2 text-2xl leading-6 font-medium text-gray-900">
            Edit Your Listing
        </h3>
        <div class="mb-3 text-sm text-gray-500">
            Please add as much deatils as possible to the description. This makes it easier for other users to know they are getting the tool they need.
        </div>
        <div class="new-form">
                <%= form_with(model: @listing) do |f| %>
                <%= render partial: "form", locals: {f: f} %>
            
            <div class="m-6 flex-auto flex space-x-3">
                <%= f.submit %>
            </div>
            <% end %>
        </div>
    </div>
</div>