<%= conditional_errors(@reservation) %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="max-w-8xl w-full px-4 py-5 sm:px-6">
        <h3 class="mt-6 text-2xl leading-6 font-medium text-gray-900">
            Edit Reservation
        </h3>
        <div class="mb-3 text-sm text-gray-500">
            Modify your pick-up and drop-off dates, then click 'update reservation'
        </div>
        <div class="new-form">
            <%= form_with(model: @reservation) do |f| %>
                <%= render partial: "form", locals: {f: f} %>

            <div class="m-6 flex-auto flex space-x-3">
            <%= f.submit %>
            </div>
            <% end %>
        </div>
    </div>
</div>