/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field_with_errors {
    padding: 2px;
    background-color: red;
    display: inline;
}

.flash_errors {
    padding: 2px;
    /* background-color: red;*/
    display: inline;
    color: red
}

/* NAV BAR */
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323264;
    width: 100%;
 }
 
 li.nav-bar {
     display: inline;
     float: left;
     
 }

 li.nav-bar-float-right {
  display: inline;
  float: right;
  
}

.nav-bar a {
    display: block;
    color: #f7f6e7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
}

.nav-bar a:hover {
    color: #f1b984;
}
.nav-bar a:visited {
    color: white
}
